extends layout
block content
 each val in data
  .row
   .card
    .card-content 
     span.card-title Saved Data.!
      p Name:#{val.Superhero}
      p Publisher:#{val.publisher}
      p Alter_ego:#{val.alter_ego}
      p Appearence:#{val.first_app}
      p Characters:#{val.characters}
      p Is_valid:#{val.is_valid}
      p Time:#{val.update_time}
